<header class="m-grid__item	m-header" data-minimize-mobile="hide" data-minimize-offset="200" data-minimize-mobile-offset="200" data-minimize="minimize">
    <div class="m-header__top">
        <div class="m-container m-container--responsive m-container--fluid m-container--full-height m-page__container">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-brand" style="padding-left:1em">
                    <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                        <div class="m-stack__item m-stack__item--middle m-brand__logo">
                            <a href="@Url.Action("Index", "Home")" class="m-brand__logo-wrapper">
                                <img src="~/Content/assets/demo/demo2/media/img/logo/logo_lattemarche.svg" />
                            </a>
                        </div>
                        <div class="m-stack__item m-stack__item--middle m-brand__tools">

                            <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>

                            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                <i class="flaticon-more"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-topbar__nav-wrapper">

                            @if (!Request.IsAuthenticated)
                            {
                                
                            @Html.ActionLink("Area riservata", "Login", "Account", null, new { @class = "btn m-btn--pill m-btn--air btn-secondary m-btn m-btn--custom m-btn--label-accent" })

                            }
                            else
                            {
                                <ul class="m-topbar__nav m-nav m-nav--inline">
                                    <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                        <a href="#" class="m-nav__link m-dropdown__toggle">
                                            <span class="m-topbar__welcome">
                                                Ciao,&nbsp;
                                            </span>
                                            <span class="m-topbar__username">
                                                @User.Identity.Name
                                            </span>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__header m--align-center">
                                                    <div class="m-card-user m-card-user--skin-dark">
                                                        <div class="m-card-user__pic">
                                                        </div>
                                                        <div class="m-card-user__details">
                                                            <span class="m-card-user__name m--font-weight-500">
                                                                @Session["fullname"]
                                                            </span>
   
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav m-nav--skin-light">                         
                                                            @*<li class="m-nav__separator m-nav__separator--fit"></li>*@
                                                            <li class="m-nav__item">                           
                                                                @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder" })
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>                                    
                                </ul>
                            }
                       
                        
                        </div>
                    </div>
                </div>
                <!-- end::Topbar -->
            </div>
        </div>
    </div>
    <div class="m-header__bottom">
        <div class="m-container m-container--responsive m-container--fluid m-container--full-height m-page__container" style="padding-left:2em">
            <div class="m-stack m-stack--ver m-stack--desktop">

                @Html.Partial("_Menu")

                @*<!--begin::Search-->
                <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-" id="m_quicksearch" data-search-type="default">
                    <!--begin::Search Form -->
                    <form class="m-header-search__form">
                        <div class="m-header-search__wrapper">
                            <span class="m-header-search__icon-search" id="m_quicksearch_search">
                                <i class="la la-search"></i>
                            </span>
                            <span class="m-header-search__input-wrapper">
                                <input autocomplete="off" type="text" name="q" class="m-header-search__input" value="" placeholder="Search..." id="m_quicksearch_input">
                            </span>
                            <span class="m-header-search__icon-close" id="m_quicksearch_close">
                                <i class="la la-remove"></i>
                            </span>
                            <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
                                <i class="la la-times"></i>
                            </span>
                        </div>
                    </form>
                    <!--end::Search Form -->
                    <!--begin::Search Results -->
                    <div class="m-dropdown__wrapper">
                        <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true" data-max-height="300" data-mobile-max-height="200">
                                    <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Search Results -->
                </div>
                <!--end::Search-->*@
            </div>
        </div>
    </div>
</header>
