@using LatteMarche.WebApi.Helpers

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="@Url.Content("~/Content/css/custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/fontawesome/css/all.min.css")" />

    @if (EnvHelper.IsProd)
    {
        <link rel="stylesheet" href="@Url.Content("~/dist/prod/css/chunk-common.css")" />
        <link rel="stylesheet" href="@Url.Content("~/dist/prod/css/bootstrap-datepicker.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/dist/prod/css/select2.min.css")" />
    }

    @if (IsSectionDefined("Css"))
    {
        @RenderSection("Css");
    }

    <script src="@Url.Content("~/Content/plugins/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/popper/popper.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/fontawesome/js/all.min.js")"></script>

    <script src="/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/hubs"></script>


    <title>Latte Marche - Soc. Coop. Agricola</title>

</head>
    <body>

        @Html.Action("Menu", "Home", new { area = "", currentController = ViewContext.RouteData.Values["controller"].ToString() })

        <!-- Breadcrumb -->
        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb", required: false)
        }

        @RenderBody()

        @if (EnvHelper.IsProd)
        {
            <script src="@Url.Content("~/dist/prod/js/chunk-common.js")"></script>
            <script src="@Url.Content("~/dist/prod/js/chunk-vendors.js")"></script>
        }

        @if(IsSectionDefined("Js"))
        {
            @RenderSection("Js");
        }

    </body>
</html>