<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>

        <meta name="description" content="Latest updates and statistic charts">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
        <script>
            WebFont.load({
                google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>

        <link href="@Url.Content("~/Content/assets/demo/demo2/base/style.bundle.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/assets/vendors/base/vendors.bundle.css")" rel="stylesheet" />

        <link href="@Url.Content("~/Content/plugins/select2/select2_metro.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/css/custom.css")" rel="stylesheet" />

        @*<link href="@Url.Content("~/Content/plugins/bootstrap-datepicker/css/datepicker3.css")" rel="stylesheet" />*@

        @if (IsSectionDefined("AddToHead"))
        {
            @RenderSection("AddToHead", required: false)
        }

        <script src="@Url.Content("~/Content/plugins/jquery-1.11.0.min.js")" type="text/javascript"></script>

    </head>

<body>
    
    @Html.Partial("_Waiter")

    @Html.Partial("_Header")

	@RenderBody()

    <script type="text/javascript">

        @{
            var token = @Session["token"] != null ? @Session["token"] : "";
        }

        var webUrl = '@string.Format("{0}://{1}:{2}/", Request.Url.Scheme, Request.Url.Host, Request.Url.Port)';
        var apiUrl = '@string.Format("{0}://{1}:{2}/api/", Request.Url.Scheme, Request.Url.Host, Request.Url.Port)';

        function showError(msg, title) {

            if (!msg) {
                msg = "Si è verificato un errore imprevisto, contattare l'amministratore del sistema.";
            }

            if (!title) {
                title = "Errore imprevisto";
            }

            $('#dialog-panel .modal-title').text(title);
            $('#dialog-panel .modal-body').text(msg);

            $('#dialog-panel').modal('show');
        }

        function showMsg(title, msg) {

            $('#dialog-panel .modal-title').text(title);
            $('#dialog-panel .modal-body').text(msg);

            $('#dialog-panel').modal('show');
        }

    </script>

    @Html.Partial("_Footer")

    <script src="@Url.Content("~/Content/vendors.bundle.js")"></script>
    <script src="@Url.Content("~/Content/scripts.bundle.js")"></script>

    <script src="@Url.Content("~/Content/plugins/knockout/knockout-3.2.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/knockout/knockout.mapping-latest.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/plugins/select2/select2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/knockout-select2/knockout-select2.js")" type="text/javascript"></script>

</body>
</html>
