@using LatteMarche.WebApi.Models
@model MenuViewModel


@helper MakeNavItem(string linkText, string actionName, string controllerName, string area, bool visible)
    {
        string className = ViewBag.currentController == controllerName ? "active" : "";

        if (visible)
        {
            <li class="nav-item dropdown @className">
                @if (String.IsNullOrEmpty(area))
                {
                    @Html.ActionLink(linkText, actionName, controllerName, null, new { @class = "dropdown-item" })
                }
                else
                {
                    @Html.ActionLink(linkText, actionName, controllerName, new { area = area }, new { @class = "dropdown-item" })
                }
            </li>
        }
}

@{
    string allevatoriActive = ViewContext.RouteData.Values["controller"].ToString() == "allevatori" ? "active" : "";
}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">


    <div class="container">

        <a class="navbar-brand" href="/">Home
            @*<img class="main-logo" src="~/Content/img/main-logo.svg" />*@
        </a>


        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @allevatoriActive">
                    @Html.ActionLink("Allevatori", "Index", "Allevatori", null, new { @class = "nav-link" })
                </li>

                @foreach (MenuItemViewModel item in Model)
                {
                    if (item.Items.Count == 0)
                    {
                        @MakeNavItem(item.Title, item.Action, item.Controller, item.Area, item.Visible)
                    }
                    else
                    {
                        if (item.Visible)
                        {

                            string active = item.Items.Any(i => i.Controller == ViewBag.currentController) ? "active" : "";
                            <li class="nav-item dropdown @active">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@item.Title</a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    @foreach (MenuItemViewModel subItem in item.Items)
                                    {
                                        if (subItem.Visible)
                                        {
                                            @Html.ActionLink(subItem.Title, subItem.Action, subItem.Controller, null, new { @class = "dropdown-item" })
                                        }
                                    }

                                </div>

                            </li>
                        }

                    }

                }

            </ul>
            @if (Request.IsAuthenticated)
            {
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Utente: @User.Identity.Name</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>
            }
            else
            {
                @Html.ActionLink("Area riservata", "Login", "Account", null, new { @class = "btn btn-outline-light my-2 my-sm-0" })
            }
        </div>


    </div>


</nav>