@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Utenti" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}

@{
    string canAdd = Convert.ToBoolean(ViewBag.Tokens["Aggiungi"]) ? "true" : "false";
    string canEdit = Convert.ToBoolean(ViewBag.Tokens["SolaLettura"]) ? "true" : "false";
    string canRemove = Convert.ToBoolean(ViewBag.Tokens["Rimuovi"]) ? "true" : "false";
}

<input hidden id="canAdd" value="@canAdd" />
<input hidden id="canEdit" value="@canEdit" />
<input hidden id="canRemove" value="@canRemove" />

@{
    string version = System.Configuration.ConfigurationManager.AppSettings["version"];
}

<div id="app">
</div>

<script src="@Url.Content("~/dist/utentiIndex.js")?ver=@version"></script>


