@using LatteMarche.WebApi.Models
@section Breadcrumb
{
    @{
        BreadcrumbViewModel bm = new BreadcrumbViewModel();
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { });
        bm.Items.Add(new BreadcrumbViewModel.BreadcrumbItem() { DisplayName = "Allevamenti" });
    }


    @* Breadcrumb *@
    @Html.Partial("_Breadcrumb", bm)
}


@{
    string version = System.Configuration.ConfigurationManager.AppSettings["version"];
}

@{
    string canAdd = ViewBag.Tokens["Aggiungi"] != null && Convert.ToBoolean(ViewBag.Tokens["Aggiungi"]) ? "true" : "false";
    string canEdit = ViewBag.Tokens["Modifica"] != null && Convert.ToBoolean(ViewBag.Tokens["Modifica"]) ? "true" : "false";
    string canRemove = ViewBag.Tokens["Rimuovi"] != null && Convert.ToBoolean(ViewBag.Tokens["Rimuovi"]) ? "true" : "false";
}

<input hidden id="canAdd" value="@canAdd" />
<input hidden id="canEdit" value="@canEdit" />
<input hidden id="canRemove" value="@canRemove" />


<div id="app">
</div>

<script src="@Url.Content("~/dist/allevamentiIndex.js")?ver=@version"></script>





